<div class="site-info">
  <span id="susu--gemuk--gagah"><a href="{{ site.baseurl }}/">SUSU GEMUK GAGAH</a></span>
  <h1 class="site-name">JANGAN LANJUT BACA JIKA ANDA TIDAK TERTARIK DENGAN {{ site.name }}</h1>
  <p>Karena kami memberikan bukti bukan sekedar janji,  apalagi hanya jual testimoni yang tidak jelas. Saya yakin jika anda sudah membaca sampai sini setidaknya anda pernah merasa seperti hal hal dibawah ini</p>
  <p>Sudah makan banyak tapi ga gemuk-gemuk.</p>
  <p>Atau yang paling parah dituduh atau diejek pemakai narkoba karena sangking kurusnya</p>
  <p>Jangan patah semangat bro banyak jalan menuju roma, seperti perjuangan real person dibawah ini</p>
  <br/>
  <h2>Namanya HARDI <span class="stabilo">naik dari 55kg menjadi 75kg</span>,</br>dulu dia dijuluki si gondrong kurus</h2>
  <img src="{{ site.baseurl }}images/rahasia-cara-cepat-menjadi-gemuk.jpg" />
  <br /><br />
  <h3>Muak dengan keadaan</h3>
  <p>Dia mengikuti <span class="stabilo">METODE GEMUK GAGAH</span><br/>
  Dalam kurun waktu 6 bulan dia bertransformasi<br/>
  Menjadi seperti ini</p>
  <br /><br />
  <img src="{{ site.baseurl }}images/dulu-kurus-sekarang-gemuk.jpg" style="width:450px;max-width:75%" class="green-border" /><br /><br />
  <p>Mohon maaf foto mantannya kami blur<br/>
  HARDI GITU LHO! Cewe mana yang tidak mau dengan dia sekarang?</p>
  <h3>Saya yakin anda masih skeptis dengan kisah diatas tapi kalau anda percaya dengan metode kami, anda bisa memesan langsung dengan penawaran khusus bulan ini</h3>
  <br /><br />
  <div class="box-harga"><span class="hx">Rp 700.000</span><span class="hy">Rp 450.000</span></div>
  <a href="{{ site.baseurl }}pemesanan.html"><img src="{{ site.baseurl }}images/beli-obat-cepet-gemuk.png" style="max-width:100%" /></a><br/><br/>
  <h3><span class="stabilo">Update January 2017</span></h3>
  <p>HARDI MENJADI BINARAGA AMATIR DENGAN BERAT HAMPIR 85kg</p>
  <img src="{{ site.baseurl }}images/tips-menaikkan-berat-badan.jpg" class="green-border" />
  <br /><br /><br />
  <hr style="border-color:#000" />
  <h2>TAPI KAMI TAHU ANDA TIDAK LANGSUNG PERCAYA</h2>
  <p>kalau begitu simak kisah sukses kurus jadi gendut selanjutnya.</p><br/>
  <h3>Namanya WIRYA <span class="stabilo">naik dari 53kg menjadi 72 kg</span>,<br/>dulu dia dijuluki KERETEK</h3>
  <img src="{{ site.baseurl }}images/rahasia-gendutin-badan.jpg" /><br /><br />
  <h3>Bosen kurus, bosen tidak bisa pakai baju yang dia mau, bosen tidak bisa menggunakan jam tangan karena tangannya terlalu kurus</h3>
  <p>Dia mengikuti METODE GEMUK GAGAH kami hanya dengan 2 pak susu dan pola makan yang benar, dalam <span class="stabilo">kurun waktu 1 bulan sudah tampak hasilnya</span>.<br/>
  Dan dalam waktu 3 bulan (gambar kedua terkahir) sudah SANGAT IDEAL<p>
  <br /><br />
  <img src="{{ site.baseurl }}images/berhasil-gemuk.jpg" style="width:450px;max-width:80%" class="green-border" />
  <br /><br />
  <h3>Jika anda sudah percaya sekarang, anda bisa langsung</h3>
  <br /><br />
  <div class="box-harga"><span class="hx">Rp 700.000</span><span class="hy">Rp 450.000</span></div>
  <a href="{{ site.baseurl }}pemesanan.html"><img src="{{ site.baseurl }}images/beli-obat-cepet-gemuk.png" style="max-width:100%" /></a><br /><br />
  <h3><span class="stabilo">Update July 2017</span></h3>
  <p>WIRYA MENJADI PILOT KARENA BERAT BADANNYA SUDAH IDEAL</p>
  <img src="{{ site.baseurl }}images/berat-badan-ideal-pilot-2017.jpg" style="width:640px;max-width:80%" class="green-border" />
  <br /><br /><br />
  <hr style="margin: 5px 0;border-color:#000" />
  <div style="background: cornsilk;padding:1rem">
    <img src="{{ site.baseurl }}images/gendut-rezekinya-banyak.png" class="img-responsive" />
    <h2>PERCAYA ATAU TIDAK BERAT BADAN IDEAL MEMBUKA REZEKI</h2>
    <ul style="list-style-position: inside;list-style: none;padding:0">
      <li><strong>JODOH</strong>, karena sebagian wanita menyukai pria berisi<br/><br/></li>
      <li><strong>KESEMPATAN KERJA</strong>, kesan pertama anda ketika wawancara adalah segalanya<br/><br/></li>
      <li><strong>BISNIS</strong>, kepercayaan diri anda akan meningkat<br/><br/></li>
    </ul>
  </div>
</div>
