<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>
    {% include meta.html %}
    {% seo %}
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href='{{ site.baseurl }}/images/favicon.ico' rel='icon' type='image/x-icon'/>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
  </head>

  <body>
    <div class="wrapper-masthead">
      <div style="background:yellow;text-align: center;font-size: 0.9rem;padding: 0.5rem;font-style: italic;">Ya bro kita tahu kamu minder dengan badanmu yang kurus, mau konsultasi +62 83890722797</strong></div>
      <div class="container">
        <header class="masthead clearfix">
          <img src="{{ site.baseurl }}/images/cara-gemuk-cepat-dan-sehat.jpg" class="img-responsive" style="margin:3rem 0 1rem 0" />
          {% if page.is_post != true %}
          <div class="site-info">
            <span style="font-size: 3.75rem;font-weight: bolder;"><a href="{{ site.baseurl }}/">SUSU GEMUK GAGAH</a></span>
            <h1 class="site-name">{{ site.name }}</h1>
            <p class="site-description">
              {{ site.description }}
              <br />
              <span class="no-hp">WA 0838-9072-2797</span>
            </p>
          </div>
          {% endif %}
        </header>
      </div>
    </div>

    <div id="main" role="main" class="container" style="text-align:center">
      {{ content }}
      <br/><br/>
      <div style="border-top:1px solid gray;text-align:center;padding-top:2rem">
          <img src="{{ site.baseurl }}/images/konveksi-murah-di-jakarta.jpg" alt="Hubungi kami di 083890722797" style="width:100%;width: 100%;max-width: 400px;" />
      </div>
    </div>
    
    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          <div><strong>Alamat JASAKONVEKSI:</strong><br/>Jl. Merpati 3 Komplek Griya Cinere, Limo, Depok, 16515</div><br/>
          {% include svg-icons.html %}
        </footer>
      </div>
    </div>
    
    {% include analytics.html %}
  </body>
</html>
